<ul class="menu-v with-icons">
    <li>
        <a href="?plugin=ozonius&action=categories">
            <i class="icon16 sync"></i>Сопоставление категорий
        </a>
    </li>
    <li>
        <a href="?plugin=ozonius&action=sets">
            <i class="icon16 sync"></i>Сопоставление списков
        </a>
    </li>
    <li>
        <a href="?plugin=ozonius&action=attributes">
            <i class="icon16 status-red"></i>Атрибуты товаров
        </a>
    </li>
    <li>
        <a href="?plugin=ozonius&action=productsExport">
            <span class="count"></span>
            <i class="icon16 export"></i>Экспорт товаров на Ozon
        </a>
    </li>
    <li>
        <a href="?plugin=ozonius&action=products">
            <span class="count"></span>
            <i class="icon16 reports"></i>Товары на Ozon
        </a>
    </li>
    <!--<li>-->
        <!--<a href="?plugin=ozonius&action=orders">-->
            <!--<i class="icon16 store"></i>Заказы-->
        <!--</a>-->
    <!--</li>-->
    <li>
        <a href="?action=plugins#/ozonius/" target="_blank">
            <i class="icon16 settings"></i>Настройки плагина
        </a>
    </li>
    <li>
        <a href="?plugin=ozonius">
            <i class="icon16 info"></i>Описание плагина
        </a>
    </li>
</ul>