{strip}
<script src="{$wa_app_static_url}plugins/ozonius/js/settings.js"></script>
<link rel="stylesheet" href="{$wa_app_static_url}plugins/ozonius/css/style.css" />
<h1>Интеграция с торговой площадкой Ozon</h1>
<div class="fields form">
    <form method="post" id="ozonius-settings-form">
    {$wa->csrf()}

    <div style="margin-bottom: 20px" class="field field-ozonius">
        <div class="name">
            <label for="shop_ozonius">Статус плагина</label>
        </div>
        <div class="value">
            <select name="shop_ozonius[status_plugin]" autocomplete="off" id="shop_ozonius_status_plugin" class="select" title="Статус плагина">

                <option value="0"{if !$settings.status_plugin && isset($settings.status_plugin)} selected="selected"{/if}>[`Disabled`]</option>
                <option value="1"{if $settings.status_plugin && isset($settings.status_plugin) || !isset($settings.status_plugin)} selected="selected"{/if}>[`Enabled`]</option>
            </select>
        </div>
    </div>


        <div style="margin-bottom: 20px" class="field">
            <div class="name">
                <label for="shop_ozonius">Логирование запросов</label>
            </div>
            <div class="value">
                <select name="shop_ozonius[log_request]" autocomplete="off" id="shop_ozonius_log_plugin" class="select" title="Логирование запросов">

                    <option value="0"{if !$settings.log_request && isset($settings.log_request)} selected="selected"{/if}>[`Disabled`]</option>
                    <option value="1"{if $settings.log_request && isset($settings.log_request) || !isset($settings.log_request)} selected="selected"{/if}>[`Enabled`]</option>
                </select>
            </div>
        </div>
        <div style="margin-bottom: 20px" class="field">
            <div class="name">
                <label for="shop_ozonius">Ozon Client Id</label>
            </div>
            <div class="value">
                <input type="text" value="{$settings.client_id}" name="shop_ozonius[client_id]" id="shop_ozonius_clientId_plugin">
            </div>
        </div>
        <div style="margin-bottom: 20px" class="field">
            <div class="name">
                <label for="shop_ozonius">Ozon API Key</label>
            </div>
            <div class="value">
                <input type="text" value="{$settings.api_key}" name="shop_ozonius[api_key]" id="shop_ozonius_apikey_plugin">
            </div>
        </div>
        {if $returnStocks}

        <div  class="field" id="shop_ozonius_stocks" {if $settings.get_fbs == 'On'}style="display:none;"{/if}>
            <div class="name">
                <label for="shop_ozonius">Выберите склады отстатков</label>
            </div>
            {foreach $returnStocks as $key => $item}
            <div class="value" >
                <label>
                <input style="margin-right: 5px;"  type="checkbox" data-id="{$key}" value="{$key}"  name="shop_ozonius[stocks][]" {if in_array($key,$checked_fields_u)} checked{/if}>{$item}</label>
            </div>
            {/foreach}
        </div>
        {/if}


        <div style="margin-bottom: 20px" class="field">
            <div class="name">
                <label for="shop_ozonius">Отправка на склады Fbs</label>
            </div>
            <div class="value">
                <input type="checkbox" value="{$settings.get_fbs}"  name="shop_ozonius[get_fbs]" id="shop_ozonius_getFbs_plugin"{if $settings.get_fbs == "On"} checked{/if}>
            </div>
        </div>
        <div {if $settings.get_fbs != "On"} style="display: none"{/if} class="shop_ozonius_warehouse">
        <div class="field" style="display: flex;flex-direction: column;margin-bottom: 20px">
            <div class="name">
                <label for="shop_ozonius">Сопоставить склады</label>
            </div>
            <div class="value" style="display: flex;">

                <!--                <option value="{$item.warehouse_id}">{$item.name}</option>-->
<!--                <label>-->
<!--                    <input style="margin-right: 5px;"  type="checkbox" value="{$item.warehouse_id}"  name="shop_ozonius[warehouseData][]" {if in_array($item.warehouse_id,$checked_fields_w)} checked{/if}>{$item.name}</label>-->
                <select name="shop_ozonius[stocks][]" autocomplete="off" id="shop_ozonius_stocks_plugin" class="select" title="Cклады магазина">
                    <option value="" >Выберите склады магазина</option>
                    {foreach $returnStocks as $key => $item}
                    <option value="{$key}">{$item}</option>
                    {/foreach}
                </select>

                <select style="margin-left: 15px;" name="shop_ozonius[warehouseData][]" autocomplete="off" id="shop_ozonius_warehouse_plugin" class="select" title="Cклады озона">

                    <option value="" >Выберите склады озона</option>
                    {foreach $warehouse as $key => $item}
                    <option value="{$item.warehouse_id}">{$item.name}</option>
                    {/foreach}
                </select>

            </div>
            <div class="row" style="margin-left: 180px;">
                <div class="col-sm">
                    <div class="matched">
                        <ul class="stocks-list">

                            {foreach $row_stocks as $items}
                            {$shop = explode(";", $items.shop)}
                            {$ozon = explode(";", $items.ozon)}
                            <li class="category-row">
                                                        <span class="remove">X</span>
                                                       <ul class="item">
                                                                <li class="shop" data-id="{$shop[1]}" data-name="{$shop[0]}">{$shop[0]}</li>
                                                                <li class="ozon" data-id="{$ozon[1]}" data-name="{$ozon[0]}">{$ozon[0]}</li>
                                                       </ul>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
            <button style="margin: 0 auto;" class="сompare-warehouses">Сопоставить склады</button>
        </div>
        </div>
<div class="field" style="margin-bottom: 20px">
    <div class="name">
        <label for="shop_ozonius">Почта для уведомлений заказа</label>
    </div>
    <div class="value">
        <input type="text" name="shop_ozonius[email]" id="shop_ozonius_email_plugin" value="{$settings.email}">
    </div>
</div>
<div class="field" style="margin-bottom: 20px">
    <div class="name">
        <label for="shop_ozonius">Передавать остаток товара, для товара с бесконечностью</label>
    </div>
    <div class="value">
        <input type="number" name="shop_ozonius[infinity]" id="shop_ozonius_infinity_plugin" value="{$settings.infinity}">
    </div>
</div>

<div class="field" style="margin-bottom: 20px">
    <div class="name">
        <label for="shop_ozonius">Брать название с характеристики</label>
    </div>
    <div class="value">
        <select name="shop_ozonius[features_name]" autocomplete="off"  class="select" title="Брать название с характеристики">
            <option value="">Из основного названия</option>
            {foreach from=$features item=feature}
            <option value="{$feature['code']}" {if $settings.features_name == $feature.code} selected="selected"{/if}>{$feature['title']}</option>
            {/foreach}
        </select>
    </div>
</div>
<div class="field" style="margin-bottom: 20px">
    <div class="name">
        <label for="shop_ozonius">Брать цену на товар с характеристики</label>
    </div>
    <div class="value">
        <select name="shop_ozonius[features_price]" autocomplete="off"  class="select" title="Брать цену на товар с характеристики">
            <option value="">Из основной цены</option>
            {foreach from=$features item=feature}
            <option value="{$feature['code']}" {if $settings.features_price == $feature.code} selected="selected"{/if}>{$feature['title']}</option>
            {/foreach}
        </select>
    </div>
</div>
<div class="field" style="margin-bottom: 20px">
    <div class="name">
        <label for="shop_ozonius">Цена с Ozon Premium</label>
    </div>
    <div class="value">
        <select name="shop_ozonius[features_price_premium]" autocomplete="off"  class="select" title="Цена с Ozon Premium">
            <option value="">Отсутсвует</option>
            {foreach from=$features item=feature}
            <option value="{$feature['code']}" {if $settings.features_price_premium == $feature.code} selected="selected"{/if}>{$feature['title']}</option>
            {/foreach}
        </select>
    </div>
</div>

<div class="field" style="margin-bottom: 20px">
    <div class="name">
        <label for="shop_ozonius"> Передавать остаток 0 шт, если цена товара меньше</label>
    </div>
    <div class="value">
        <input type="number" name="shop_ozonius[disabled_stock]"  value="{$settings.disabled_stock}">

    </div>
</div>

<div class="field" style="margin-bottom: 20px">
    <div class="name">
        <label for="shop_ozonius">Число элементов на странице пагинации</label>
    </div>
    <div class="value">
        <input type="number" name="shop_ozonius[elem_pagination]"  value="{$settings.elem_pagination}">

    </div>
</div>
<div class="field" style="margin-bottom: 20px">
    <div class="name">
        <label for="shop_ozonius">Импортировать заказы с ozon </label>
    </div>
    <div class="value">
        <input placeholder="Введите число" type="number" name="shop_ozonius[date_order]" min="1"  value="{$settings.date_order}">
        &#160;дневной давности
        <div style='font-size: 10px'>Если поле пустое, то дата текущая.
        </div>
    </div>

</div>

<div class="field" style="margin-bottom: 20px">
    <div class="name">
        <label for="shop_ozonius">Передавать информацио о заказе </label>
    </div>

    <div class="value">
        <label><input type="radio" class="check-rules-contact" value="enable"  name="shop_ozonius[check_rules_contact]" {if $settings.check_rules_contact == 'enable'} checked{/if}> В заказ</label>
    </div>
    <div class="value">
        <label><input type="radio" class="check-rules-contact" value="disabled"  name="shop_ozonius[check_rules_contact]" {if $settings.check_rules_contact == 'disabled'} checked{/if}> В комментарии заказа </label>
    </div>

</div>

<div class="field" style="margin-bottom: 20px">
            <div class="name">
                <label for="shop_ozonius">Получать данные из характеристик</label>
            </div>
            <div class="value">
                <select name="shop_ozonius[set_mandatory_attr]" autocomplete="off"  class="select" title="Получать данные из характеристик">

                    <option value="0"{if !$settings.set_mandatory_attr && isset($settings.set_mandatory_attr)} selected="selected"{/if}>[`Disabled`]</option>
                    <option value="1"{if $settings.set_mandatory_attr && isset($settings.set_mandatory_attr) || !isset($settings.set_mandatory_attr)} selected="selected"{/if}>[`Enabled`]</option>
                </select>
                <div style='font-size: 10px'>Данные о размерах и весе упаковки будут забираться не из дополнительных параметров товара, а из характеристик товара. Идентификатор характеристики должен совпадать с теми атрибутами которые передаются на озон.
                    <p>depth - Глубина упаковки, предельное значение - 10 метров;</p>
                    <p>width - Ширина упаковки, предельное значение - 10 метров;</p>
                    <p>height - Высота упаковки, предельное значение - 10 метров;</p>
                    <p>dimension_unit - Единица измерения габаритов, доступные варианты: mm (миллиметры), cm (сантиметры), in (дюймы);</p>
                    <p>weight - Вес товара в упаковке, предельное значение - 1000 килограмм (или конвертированная величина в других единицах измерения);</p>
                    <p>weight_unit - Единицы измерения веса. доступные варианты: g (граммы), kg (килограммы), lb (фунты);</p>
                    <p style='font-size: 12px; color: black;'>Примечание: weight_unit и dimension_unit должен быть тип: текст и формат:  Выбор одного значения из списка.</p>
                </div>
            </div>

        </div>
<div class="field" style="margin-bottom: 20px">
            <div class="name">
                <label for="shop_ozonius">Получать описание из характеристик</label>
            </div>
            <div class="value">
                <select name="shop_ozonius[set_ann_attr]" autocomplete="off" id="shop_ozonius_ann_plugin" class="select" title="Получать описание из характеристик">

                    <option value="0"{if !$settings.set_ann_attr && isset($settings.set_ann_attr)} selected="selected"{/if}>[`Disabled`]</option>
                    <option value="1"{if $settings.set_ann_attr && isset($settings.set_ann_attr) || !isset($settings.set_ann_attr)} selected="selected"{/if}>[`Enabled`]</option>
                </select>
                <div style="font-size: 10px">Требуется характеристика с названием 'Аннотация'.
                    Тип 'Текст'.
                    Формат 'Многострочный текст'.
                </div>
            </div>

        </div>

<div style="margin-bottom: 20px" class="field field-ozonius">
    <div class="name">
        <label for="shop_ozonius">Синхронизация заказов по системе FBO</label>
    </div>
    <div class="value">
        <select name="shop_ozonius[order_ozon_fbo]" autocomplete="off" class="select" title="Синхронизация заказов по системе FBO">

            <option value="0"{if !$settings.order_ozon_fbo && isset($settings.order_ozon_fbo)} selected="selected"{/if}>[`Disabled`]</option>
            <option value="1"{if $settings.order_ozon_fbo && isset($settings.order_ozon_fbo) || !isset($settings.order_ozon_fbo)} selected="selected"{/if}>[`Enabled`]</option>
        </select>
    </div>
</div>

<h4>Действия с заказом Shop-Script, выполняемые при смене статуса заказа OZON
</h4>
        <div class="field">

            <div class="name">
                <label for="shop_ozonius">Ожидает подтверждения</label>
            </div>
            <div class="value">
                <select name="shop_ozonius[awaiting_approve]" autocomplete="off" class="select" title="Ожидает подтверждения">
                    <option value="">Выберите статус</option>
                    {foreach $actions as $key => $action}
                    <option value="{$key}" {if $key == $settings.awaiting_approve} selected="selected"{/if}>{$action.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>

<div class="field">

    <div class="name">
        <label for="shop_ozonius">Ожидает упаковки</label>
    </div>
    <div class="value">
        <select data-id ="awaiting_packaging" name="shop_ozonius[awaiting_packaging]" autocomplete="off" class="select" title="Ожидает упаковки">
            <option value="">Выберите статус</option>
            {foreach $actions as  $key => $action}
            <option value="{$key}" {if $key == $settings.awaiting_packaging} selected="selected"{/if}>{$action.name}</option>
            {/foreach}
        </select>
    </div>
</div>

<div class="field">

    <div class="name">
        <label for="shop_ozonius">Ожидает отгрузки</label>
    </div>
    <div class="value">
        <select data-id ="awaiting_deliver" name="shop_ozonius[awaiting_deliver]" autocomplete="off" class="select" title="Ожидает отгрузки">
            <option value="">Выберите статус</option>
            {foreach $actions as $key => $action}
            <option value="{$key}" {if $key == $settings.awaiting_deliver} selected="selected"{/if}>{$action.name}</option>
            {/foreach}
        </select>
    </div>
</div>

<div class="field">

    <div class="name">
        <label for="shop_ozonius">Доставляется</label>
    </div>
    <div class="value">
        <select data-id ="delivering" name="shop_ozonius[delivering]" autocomplete="off" class="select" title="Доставляется">
            <option value="">Выберите статус</option>
            {foreach $actions as $key => $action}
            <option value="{$key}"  {if $key == $settings.delivering} selected="selected"{/if}>{$action.name}</option>
            {/foreach}
        </select>
    </div>
</div>

<div class="field">

    <div class="name">
        <label for="shop_ozonius">У водителя</label>
    </div>
    <div class="value">
        <select data-id ="driver_pickup" name="shop_ozonius[driver_pickup]" autocomplete="off" class="select" title="У водителя">
            <option value="">Выберите статус</option>
            {foreach $actions as $key => $action}
            <option value="{$key}" {if $key == $settings.driver_pickup} selected="selected"{/if}>{$action.name}</option>
            {/foreach}
        </select>
    </div>
</div>

<div class="field">

    <div class="name">
        <label for="shop_ozonius">Доставлено</label>
    </div>
    <div class="value">
        <select data-id ="delivered" name="shop_ozonius[delivered]" autocomplete="off" class="select" title="Доставлено">
            <option value="">Выберите статус</option>
            {foreach $actions as $key => $action}
            <option value="{$key}" {if $key == $settings.delivered} selected="selected"{/if}>{$action.name}</option>
            {/foreach}
        </select>
    </div>
</div>
<div class="field">

    <div class="name">
        <label for="shop_ozonius">Отменено</label>
    </div>
    <div class="value">
        <select data-id ="cancelled" name="shop_ozonius[cancelled]" autocomplete="off" class="select" title="Отменено">
            <option value="">Выберите статус</option>
            {foreach $actions as $key => $action}
            <option value="{$key}" {if $key == $settings.cancelled} selected="selected"{/if}>{$action.name}</option>
            {/foreach}
        </select>
    </div>
</div>

        <div style="margin-top: 30px;">
            <p style="font-size: 18px; color: black; margin-bottom: 6px;">Cron - задания:</p>
            <p style="font-size: 16px; color: black; margin-bottom: 6px;">Процесс автоматизации добавления остатков</p>
            <p style="font-size: 14px; background: black; color: white; padding: 5px; margin-bottom: 2px;">{$cronProductStockSendCommand}</p>
            <p style="font-size: 16px; color: black; margin-bottom: 6px;">Процесс автоматизации добавления цен</p>
            <p style="font-size: 14px; background: black; color: white; padding: 5px; margin-bottom: 2px;">{$cronProductPriceSendCommand}</p>
            <p style="font-size: 16px; color: black; margin-bottom: 6px;">Обновление информации о поставленных задачах на добавление товаров на озон (обязательно).</p>
            <p style="font-size: 14px; background: black; color: white; padding: 5px; margin-bottom: 2px;">{$cronTaskInfoCommand}</p>
            <p style='font-size: 16px; color: black; margin-bottom: 6px;'>Синхронизация характеристик, цен, остатков (обязательно).</p>
            <p style='font-size: 14px; background: black; color: white; padding: 5px; margin-bottom: 2px;'>{$cronProductInfoCommand}</p>
<!--            <p style="font-size: 16px; color: black; margin-bottom: 6px;">Синхронизация цен, остатков.</p>-->
<!--            <p style="font-size: 14px; background: black; color: white; padding: 5px; margin-bottom: 2px;">{$cronProductPriceStockCommand}</p>-->
            <p style="font-size: 16px; color: black; margin-bottom: 6px;">Синхронизация заказов.</p>
            <p style="font-size: 14px; background: black; color: white; padding: 5px; margin-bottom: 2px;">{$cronOrdersCommand}</p>


        </div>
        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="Сохранить">
                <span id="plugins-settings-form-status" style="display:none">
                <i style="vertical-align:middle" class="icon16 yes"></i> <span>[`Saved`]</span>
            </span>
            </div>
        </div>
    </form>
</div>

{/strip}