

<div class="container-fluid">
    <div class="row">
        <div class="col-2">{$sidebar}</div>
        <div class="col-10">
            <div class="row text-center">
                <h1 style="width: 100%;">Атрибуты товаров</h1>

            </div>

            {if $matchedCategories}
            <h2 class="text-center">Категории</h2>
            <div class="row">

                <div class="col-6 --left">
                    <div class="header mb-2 text-center" style="background: rgba(178, 235, 242,.4)">
                        <h2>Атрибуты в магазине</h2>
                    </div>
                    <ul class="attribute-list">

                        {foreach $matchedCategories as $shopCategoryId => $data}
                            <span class="al-category slide js-ozon-categories" data-category_id="{$shopCategoryId}" data-ozon_id="{$data.ozonId}">{$data.name}</span>
                            <ul class="shop-slide-block">
                                <a href="?action=settings#/typefeat/">Типы и характеристики товаров</a>

                            </ul>
                        {/foreach}
                    </ul>
                </div>
                <div class="col-6 --left">
                    <div class="header mb-2 text-center" style="background: rgba(178, 235, 242,.4);">
                        <h2>Атрибуты на Ozon</h2>
                    </div>
                    <ul class="attribute-list">

                        {foreach $matchedCategories as $shopCategoryId => $data}
                            <span class="al-category ozon-slide" data-cat_id="{$shopCategoryId}">{$data.ozonName}</span>
                                <ul class="ozon-slide-block" data-cat_ozon_id="{$data.ozonId}">
                                </ul>

                        {/foreach}
                    </ul>
                </div>
            </div>
            {/if}

            {if $matchedSets}
            <h2 class="text-center">Списки</h2>
            <div class="row">

                <div class="col-6 --left">
                    <ul class="attribute-list">

                        {foreach $matchedSets as $shopCategoryId => $data}
                        <span class="al-category slide"  data-category_id="{$shopCategoryId}" data-ozon_id="{$data.ozonId}">{$data.name}</span>
                        <ul class="shop-slide-block">
                            <a href="?action=settings#/typefeat/">Типы и характеристики товаров</a>
                        </ul>
                        {/foreach}
                    </ul>
                </div>
                <div class="col-6 --left">
                    <ul class="attribute-list">

                        {foreach $matchedSets as $shopCategoryId => $data}
                        <span class="al-category ozon-slide" data-cat_id="{$shopCategoryId}">{$data.ozonName}</span>
                        <ul class="ozon-slide-block" data-cat_ozon_id="{$data.ozonId}">
                        </ul>
                        {/foreach}

                    </ul>
                </div>
            </div>
            {/if}

        </div>
    </div>
</div>
