<script src="{$wa_app_static_url}plugins/ozonius/js/pagination.min.js"></script>
<link rel="stylesheet" href="{$wa_app_static_url}plugins/ozonius/css/pagination.css">
<div class="layout-loader"></div>
<div class="container-fluid">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="row">
        <div class="col-2">{$sidebar}</div>
        <div class="col-10 mb-5">
            <div class="row text-center">
                <h1 style="width: 100%;">Товары на Ozon</h1>
                <div>
                    <p class="notice">Предупреждение: добавление в архив, восстановление из архива, обновление "остатков" и "данных карточки товара" возможны только для товаров со статусом "Обработан".</p>
                </div>
            </div>
            <div class="pl-select-container container-fluid">
                <div class="row p-2 pl-select-row">
                    <div class="col-6">
                        <div class="row d-flex flex-row justify-content-between">
                            <div class="col-4"><button id="btn-refresh" class="btn btn-outline-primary mr-2" disabled>Обновить информацию на странице</button></div>
                            <div class="col-4"><button id="btn-add-product" class="btn btn-outline-primary mr-2" >Синхронизовать товары (созданные вручную на озоне, при наличии артикула)</button></div>
                            <div class="col-4"><div class="pl-title text-right">Выберите категорию или список: </div></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <select name="category" id="pl-category-select">
                            <option value=""></option>
                            {foreach $categories as $key => $data}
                                <option data-sel="category" value="{$data.ozoniusCatId}">{$data.shopName}&nbsp;>>&nbsp;{$data.ozonName}</option>
                            {/foreach}

                            {foreach $sets as $key => $data}
                            <option data-sel="sets" value="{$data.ozoniusSetId}">{$data.shopName}&nbsp;>>&nbsp;{$data.ozonName}</option>
                            {/foreach}
                            {foreach $manually as $key => $data}
                            <option data-sel="manually" value="{$data.manuallyId}">{$data.shopName}</option>
                            {break}
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>

            <div class="pl-actions-container container-fluid">
                <div class="row p-2 pl-actions-row">
                    <div class="col-2 d-flex flex-row justify-content-center align-items-center">
                        <input type="checkbox" class="select-all">
                        <div class="pl-select-all ml-3">Выбрать все</div>
                    </div>
                    <div class="col-5 d-flex flex-row justify-content-center">
                        <select name="action" id="pl-action-select" class="mr-2">
                            <option value=""></option>
                            <option value="updatePrice">Обновить цены</option>
                            <option value="updateStock">Обновить остатки</option>
<!--                            <option value="updateStockWarehouse">Обновить остатки на склад (ниже выберите склад)</option>-->
                            <option value="updateDescription">Обновить данные карточки товара</option>
                        </select>
                        <button id="btn-ok" class="btn btn-primary" disabled>Ок</button>
                    </div>
                    <div class="col-5 d-flex flex-row justify-content-end">
                        <button id="btn-activate" class="btn btn-outline-primary mr-2">Добавить в архив</button>
                        <button id="btn-deactivate" class="btn btn-outline-warning mr-2" >Восстановить из архива</button>
                        <button id="btn-delete" class="btn btn-outline-danger">Удалить</button>
                    </div>
                </div>
            </div>
            <div class="warehouse">
                Выберите склад
                <div class="col-5 d-flex flex-row justify-content-center">


                    <select name="action" id="pl-action-select-warehouse" class="mr-2">
                        <option value=""></option>
                        {foreach $warehouse as $key => $data}
                        <option value="{$data.warehouse_id}">{$data.name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="search-ozon-wr">
                    <input type="text" placeholder="Поиск по артикулу">
            </div>
            <div class="pl-product-container container-fluid">
                <div class="row p-1 pl-product-head text-center">
                    <div class="col-1"></div>
                    <div class="col-2">Название товара</div>
                    <div class="col-1">Артикул</div>
                    <div class="col-1">Цена с учётом наценки и фикс. ценой / Цена в Ozon</div>
                    <div class="col-1">Наценка</div>
                    <div class="col-1">В наличии / В наличии Ozon</div>
                    <div class="col-2">Статус создания</div>
                    <div class="col-1">Видимость</div>
                    <div class="col-2">Ошибки валидации</div>
                </div>
                <div class="pl-product-rows text-center">
                </div>
                <div id="pagination"></div>
            </div>
        </div>
    </div>
</div>
