<link href="{$wa_app_static_url}plugins/ozonius/css/ozonius_order.css" rel="stylesheet" type="text/css">
<script src="{$wa_app_static_url}plugins/ozonius/js/print.min.js"></script>

<script src="{$wa_app_static_url}plugins/ozonius/js/order.js"></script>
<div class="s-ozon-info-block">
    <div class="ozon-status">
        <h3>{$posting}</h3>
        <span>
<i class="icon10 {if $ozoniusStatusName == 'Отменено'}status-red{elseif $ozoniusStatusName == 'Доставлено'}status-green{else}status-yellow{/if}"></i>{$ozoniusStatusName}</span>
    </div>
    {if $deliverySchema neq 'fbo'}
    <div style="margin-bottom: 20px;margin-left: 20px;" class="order-wr-ozon">
        {if $ozoniusStatusName neq "Отменено" && $ozoniusStatusName neq "Доставлено"}
        <p><select class="status-cancell" name="status">
               <option value="">Выберите статус</option>
               <option value="352">товар закончился</option>
               <option value="400">остался только товар с недостатками</option>
               <option value="402">другая причина</option>
               </select></p>
                <input  class="another_reason" type="text" placeholder="Введите причину отмены">
        <div style="display: flex; flex-wrap: wrap;">
        <form data-posting_number ='{$posting}' action="" method="post" id="order_success_js">
            {$wa->csrf()}
            {if $orderData.status == 'awaiting_packaging'}
            <input type="submit" value="Собрать заказ (awaiting_deliver)" style="border-color: #6C3;margin-right: 10px;" class="order_success button">
            {/if}
        </form>
        <form data-status_ozon = '' data-posting_number ='{$posting}' action="" method="post" id="order_cancelled_js">
            {$wa->csrf()}
        <input  type="submit" style="border-color: #F60;" value="Отменить отправление (cancelled)" class="order_cancelled button">
        </form>
        {/if}
        {if $ozoniusStatusName neq "Отменено"}
        <form data-posting_number ='{$posting}' id="order_print_js" action="" method="post">
            {$wa->csrf()}
        <input type="submit" value="Распечатать этикетку"  class="order_print button gray">
        </form>
        </div>
        {/if}
        <button style="margin-top: 10px;" class="button blue add-track-ozon">Добавить трек-номер</button>
        <form style="display: none" data-posting_number ='{$posting}' id="order_add_track" action="" method="post">
            {$wa->csrf()}
            <input type="text" value="" class="number_track">
            <input type="submit" value="Применить"  class="button blue">
        </form>
    </div>
    {/if}

</div>

