<div class="layout-loader"></div>
<div class="container-fluid">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="row">
        <div class="col-2">{$sidebar}</div>
        <div class="col-10 mb-5">
            <div class="row text-center">
                <h1 style="width: 100%;">Экспорт товаров на Ozon</h1>
                <div>
                    <p class="notice">* - количество товаров в скобках указано с учетом вариантов выбора товаров.</p>

                </div>
                <div>
                    <p class="notice">Если бренд не указан или не найдет в магазине озон, то по умолчанию значение "Нет бренда", обновить бренд можно в атрибутах товара и проверить его в наличии озон.</p>
                </div>
            </div>
            <div class="pr-category-container container-fluid">

                {foreach $categories as $shopCatId => $data}
                    <div class="row p-3 pr-category-row">
                        <div class="container-fluid">
                            <div class="row pr-category d-flex justify-content-between">
                                <div class="pr-category-name col-3 text-center">{$data.name}   >>   {$data.ozonName}</div>
                                <div class="pr-category-count col-2 text-center">Товаров в категории:<br>* <span class="pr-count-products">{$data.countProducts.count}&nbsp;({$data.countProducts.withSkus})</span></div>
                                <div class="pr-category-prepare col-2"><button class="prepare-btn btn btn-outline-info" data-id="{$shopCatId}" data-markup="{$data.markupPrice}" data-ozon_cat="{$data.ozonId}">Подготовить к отправке</button></div>
                                <div class="pr-category-prepared-count col-2 text-center">Готово к отправке:<br><span class="pr-ready" data-id="{$shopCatId}"></span></div>
                                <div class="pr-category-send col-2"><button class="send-btn btn btn-outline-success" disabled="true" data-id="{$shopCatId}">Отправить товары</button></div>
                                <div class="pr-ozon-count col-1 text-center">Отправлены на Ozon:<br><span class="pr-count-sended" data-id="{$shopCatId}">{$data.countOzonProducts}</span></div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row text-center mt-3">
                                <p class="pp hidden" data-id="{$shopCatId}">Товары с ошибками:</p>
                            </div>
                            <div class="pr-errors-container" data-id="{$shopCatId}">
                            </div>
                        </div>
                        <div class="sync-orders">
                            <div id="so-sync-progressbar" style="display:none;margin-top: 20px;">
                                <div class="progressbar blue float-left" style="display:none;width: 70%;">
                                    <div class="progressbar-outer">
                                        <div class="progressbar-inner" style="width: 0%;"></div>
                                        <span class="progressbar-description">0.000%</span>
                                    </div>
                                </div>
                                <div class="lazyanim"><ul><li></li><li></li><li></li><li></li><li></li></ul></div>
                                <div class="clear"></div>

                                <em class="hint">Пожалуйста, не закрывайте окно браузера, пока процесс синхронизации не будет завершен.</em>
                                <br clear="left">
                                <em class="errormsg"></em>
                            </div>
                            <div id="so-sync-report" class="sync-report" style="display: none;"></div>
                        </div>
                    </div>
                {/foreach}
                <hr>
                {foreach $sets as $shopCatId => $data}
                <div class="row p-3 pr-category-row">
                    <div class="container-fluid ">
                        <div class="row pr-category d-flex justify-content-between">
                            <div class="pr-category-name col-3 text-center">{$data.name}   >>   {$data.ozonName}</div>
                            <div class="pr-category-count col-2 text-center">Товаров в списке:<br>* <span class="pr-count-products">{$data.countProducts.count}&nbsp;({$data.countProducts.withSkus})</span></div>
                            <div class="pr-category-prepare col-2"><button class="pr-category-js prepare-btn btn btn-outline-info" data-id="{$shopCatId}" data-markup="{$data.markupPrice}" data-ozon_cat="{$data.ozonId}">Подготовить к отправке</button></div>
                            <div class="pr-category-prepared-count col-2 text-center">Готово к отправке:<br><span class="pr-ready" data-id="{$shopCatId}"></span></div>
                            <div class="pr-category-send col-2"><button class="send-category-js send-btn btn btn-outline-success" disabled="true" data-id="{$shopCatId}">Отправить товары</button></div>
                            <div class="pr-ozon-count col-1 text-center">Отправлены на Ozon:<br><span class="pr-count-sended" data-id="{$shopCatId}">{$data.countOzonProducts}</span></div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row text-center mt-3">
                            <p class="pp hidden" data-id="{$shopCatId}">Товары с ошибками:</p>
                        </div>
                        <div class="pr-errors-container" data-id="{$shopCatId}">
                        </div>
                    </div>
                </div>
                {/foreach}

            </div>
        </div>
    </div>
</div>
