<div class="layout-loader"></div>
<div class="container-fluid">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="row">
        <div class="col-2">{$sidebar}</div>
        <div class="col-10 mb-5">
            <div class="row text-center">
                <h1 style="width: 100%;">Заказы на Ozon</h1>
                <div>
                    <p class="notice"></p>
                </div>
            </div>
            <div class="ol-order-container container-fluid">
                <div class="row p-1 ol-order-head text-center">
                    <div class="col-1"></div>
                    <div class="col-3"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                </div>
                <div class="pl-product-rows text-center">
                </div>
            </div>
        </div>
    </div>
</div>