<div class="container-fluid">
    <div class="row">
        <div class="col-2">{$sidebar}</div>
        <div class="col-10">
            <div class="row text-center">
                <h1 style="width: 100%;">Интеграция интернет-магазина с торговой площадкой Ozon</h1>
            </div>
            <p>Ссылка на описание <a href="https://www.webasyst.ru/store/plugin/shop/ozonius/">https://www.webasyst.ru/store/plugin/shop/ozonius/</a></p>
            <p>На FAQ, если появятся ошибки <a href="https://www.webasyst.ru/store/plugin/shop/ozonius/vopros---otvet/">https://www.webasyst.ru/store/plugin/shop/ozonius/vopros---otvet/</a></p>
        </div>
    </div>
</div>
