<div class="layout-loader"></div>
<div class="container-fluid">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="row mb-5">
        <div class="col-2">{$sidebar}</div>
        <div class="col-10">
            {function name=printList}
            {foreach from=$items key=id item=i name=list}
            <option value="{$i.category_id}" data-parent="{if !empty($i.children)} true {else} false {/if}">
                {if isset($isChildren)}
                    {if $isChildren}
                        {for $foo=1 to $level}
                            &nbsp;&nbsp;
                        {/for}
                        {$i.title}
                    {/if}
                {else}
                    <strong>{$i.title}</strong>
                {/if}
            </option>
                {if !empty($i.children)}
                    {$level = $level + 1}
                    {call name=printList items=$i.children isChildren=true level=$level}
                    {$level = $level - 1}
                {else}
                    {if $smarty.foreach.list.index == count($items) - 1 }
                        {$level = $level - 1}
                    {/if}
                {/if}
            {/foreach}
            {/function}

            {function name=printMatched}
            {foreach $matched as $id => $data}

            <li class="category-row">
                <span class="remove">X</span>
                <ul class="item">
                    <li class="shop" data-id="{$id}" data-name="{$data.name}">{$data.name}</li>
                    <li class="ozon" data-id="{$data.ozonId}" data-name="{$data.ozonName}">{$data.ozonName}</li>
		            <li class="markup"><label>Наценка, %: <span class="shop-tooltip"><i class="icon10 info"></i><span class="span-wid">Наценка может быть как положительной, так и отрицательной</span></span> <input  class="markup_price" value="{$data.markupPrice}" type="number" name="markup_price"></label></li>
                    <li class="fix"><label> Фиксированная цена, руб:  <span class="shop-tooltip"><i class="icon10 info"></i><span class="span-wid">Фиксированная цена может быть как положительной, так и отрицательной</span></span> <input  class="fix_price" value="{$data.fixPrice}" type="number" name="fix_price"></label></li>
                </ul>
            </li>
            {/foreach}
            {/function}

            {if isset($parents)}
                <div class="parents" hidden data-parents="{foreach $parents as $key => $id}{$id}:{/foreach}"></div>
            {/if}
            {if isset($parentsShop)}
                <div class="parentsShop" hidden data-parents="{foreach $parentsShop as $key => $id}{$id}:{/foreach}"></div>
            {/if}

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center m-4">
                        <h1>Сопоставление категорий магазина с категориями на Ozon</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm col-md-6">
                        <select id="selectShop">
                            <option value=""></option>
                            {call name=printList items=$categories level=1}
                        </select>
                    </div>
                    <div class="col-sm col-md-6">
                        <select id="selectOzon">
                            <option value=""></option>
                            {call name=printList items=$ozonCategories level=1}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm m-3 text-center">
                        <button class="add btn btn-outline-info inactive" disabled="disabled">Сопоставить категории</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="matched">
                            <ul class="category-list">
                                {if isset($categoriesMatched)}
                                    {call name=printMatched matched=$categoriesMatched}
                                {/if}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-4 mt-3 text-left">
                        <form id="remove-all-js" method="post" action="">
                            {$wa->csrf()}
                        <input value="Очистить таблицу" type="submit" class="remove-all btn btn-outline-danger">
                        </form>
                    </div>


                    <div class="col-4 mt-3 text-right">
                        <form id="apply-success" method="post" action="">
                            {$wa->csrf()}
                            <input value="Применить сопоставление" type="submit" class="apply btn btn-outline-success">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>