.s-ozon-info-block{
    margin: 20px 0px 20px -20px;
    background: #e2e2e2;
    font-size: 14px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08) inset;
    border-top: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.s-ozon-info-block h3{
     margin: 0 20px 0 20px;
 }

.ozon-status{
    display: flex;
    padding-top: 20px;
    border-bottom-width: 20px;
    padding-bottom: 20px;
}
.icon16.ozon{
    background-repeat: no-repeat;
    background-image: url(/wa-apps/shop/plugins/ozonius/img/icon-ozon.jpg);
    height: 16px;
    width: 16px;
    display: inline-block;
    text-indent: -9999px;
    background-size: contain;
}
.another_reason{
    display: none;
    width: 37%;
    margin-bottom: 20px;
}