html, body {
    font: 13px/18px sans-serif;
}
select {
    min-width: 300px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
}

ul.item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

ul.item li {
    width: 50%;
    line-height: 30px;
    font-size: 13px;
    font-weight: 600;
}

ul.category-list {
    color: rgba(36, 0, 17, 0.75);
    font-weight: 500;
}

li.category-row {
    display: flex;
    flex-direction: row;
}

li.category-row li {
    padding-left: 15px;
}
li.ozon {
    border-left: 3px solid rgba(189, 200, 201,.6);
}

ul.category-list>li:nth-child(even) {background: rgba(229, 255, 255,.4)}
ul.category-list>li:nth-child(odd) {background: rgba(178, 235, 242,.4)}

.add {
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
}

.apply {
    font-size: 15px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.remove {
    background: #e74c3c;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 0;
    cursor: pointer;
    color: white;
    width: 3px;
    display: inline-block;
    line-height: 30px;
    opacity: .7;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

li.category-row:hover span {
    width: 30px;
    opacity: 1.0;
    font-size: 15px;
}

.isChildren {
    padding-left: 10px;
    color: rgba(189, 200, 201,.8);
}

.header {
    font-size: 16px;
}

.al-category {
    display: block;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(20,20,200,.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(10,10,10,.8);
}

.al-type {
    margin-left: 20px;
    display: block;
    background: rgba(189, 195, 199,.6);
    font-size: 13px;
    padding-left: 3px;
}

.al-feature {
    margin-left: 30px;
    padding: 2px 5px;
}

.al-attr {

}

.al-description {
    display:block;
    padding: 5px;
    border-left: 3px solid rgba(189, 200, 201,.6);
}

.example {
    font-style: italic;
}

.al-name {
    display:block;
    padding: 5px;
    width: 30%;
}

.required {
    color: #e74c3c;
    font-size: 11px;
}

.satisfy {
    color: forestgreen;
    font-weight: 600;
}

.not-satisfy {
    color: #e3473c;
    font-weight: 600;
}

.optional {
    color: dimgray;
    font-size: 11px;
}

.slide {
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}

.slide:after {
    content: '>>';
    position: absolute;
    right: 5px;
}

.ozon-slide {
    margin-bottom: 5px;
}

.ozon-slide-block,.shop-slide-block {
    margin-bottom: 5px;
}

ul.attribute-list>ul>li:nth-child(even) {background: rgba(229, 255, 255,.4)}
ul.attribute-list>ul>li:nth-child(odd) {background: rgba(178, 235, 242,.4)}

.pr-category-container>.pr-category-row:nth-child(even) {background: rgba(215, 227, 255, 0.15)
}
.pr-category-container>.pr-category-row:nth-child(odd) {background: rgba(209, 232, 242, 0.4)
}

.pr-category-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
}

.pr-error-product,.pr-error-message {
    font-size: 14px;
    line-height: 36px;
}

.pr-error-row {
    border-bottom: 1px solid rgba(10,10,10,.2);
}

.pp {
    width: 100%; 
    margin: 0;
    font-size: 16px;
    color: #e74c3c;
    border-top: 3px solid rgba(189, 200, 201,.6);
    border-bottom: 1px solid rgba(189, 200, 201,.4)
}

.pr-count-products, .pr-ready, .pr-count-sended {
    font-weight: 600;
    font-size: 16px;
}

.pr-ready {
    color: forestgreen;
}

/*-------- loader --------*/

.layout-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.7);
    z-index: 999;
}

.lds-roller {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #0f2d62;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*----------- product list ---------*/

.pl-select-all {
    font-size: 14px;
    font-weight: 600;
}

input[type=checkbox] {
    cursor: pointer;
}

.pl-product-head {
    font-size: 12px;
    font-weight: 600;
}

.pl-product-rows>.pl-product-row:nth-child(even) {background: rgba(229, 255, 255,.4)}
.pl-product-rows>.pl-product-row:nth-child(odd) {background: rgba(178, 235, 242,.4)}

.notice {
    font-style: italic;
    color: grey;
}

.desc-plugin {
    font-size: 16px;
}

.desc-plugin img {
    max-width: 100%;
}

.desc-plugin p {
    text-indent: 30px;
    text-align: justify;
}

.desc-title {
    font-weight: 600;
}
.desc-list {
    list-style: disc;
    margin-left: 20px;
}

.desc-list li {
    line-height: 1.74em;
}


li.markup label {
    float: right;
    margin: 0 auto;
}
.markup_price,
.fix_price{
    height: 30px;
}
/*.markup_price{
    position: absolute;
    right: 0;
}*/
.warehouse{
    display: none;
    margin-left: 100px;
    margin-bottom: 15px;
}
#order_add_track{
    display: none;
}
.markup{
    display: contents!important;
}
.span-wid{
    width: auto!important;
    font-size: 8px!important;
}


.sync-report > span {
    color: #383838;
}
span.progressbar-description {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 1;
    padding: 6px 0px;
    position: relative;
    color: #383838;
}
.progressbar.blue .progressbar-inner {
    background: #597de4;
    background: -webkit-gradient(linear, left top, left bottom, from(#76c8e8), to(#597de4));
    background: linear-gradient(to bottom, #76c8e8, #597de4);
}
#pagination {
    margin-top: 10px;
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}
#pagination li {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid black;
}
#pagination li:hover, #pagination li.active {
    cursor: pointer;
    color: red;
    border: 1px solid red;
}

.search-ozon-wr{
    margin-left: 30px;
    padding: .5rem;
    display: none;
}

.col-6.--left{
    display: flex;
    flex-direction: column;
}

.attribute-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.shop-slide-block.active {
    flex-grow: 1;
}
.shop-slide-block.active + .al-category slide {
    margin-bottom: 0;
}
.example-value div:nth-child(n+11){
    display: none;
}
